.App {
  display: flex;
  flex-direction: column;
}

#graph {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

#plots {
  display: inline-flex;
  flex-direction: column;
  height: auto;
}

#gamedata {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.specificdata {
  width: 40%;
}


